<style>


.icon-background {
	font-size: 120px;
	opacity: 0.2;
	margin-top: 20px;
}

.icon-background.big {
	margin: 40px 20px 0px 0px;
	font-size: 130px;
	opacity: 0.2;
}
</style>


<head>
</head>

<% if false %>
<a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Macha!" onclick="Materialize.toast('I am a toast', 4000)">Toast!</a>
<% end %>


<div class="page-title card white-text pink darken-1 center">
	Pi Monitor
</div>

<% content_for :title do %>Sid's Pi!<% end %>

<div class="gridster">
  <ul>

	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" class="hoverable card tooltipped" data-position="bottom" data-delay="50" data-tooltip="Macha!">

	  <div class="grey card " data-id="pistatus" data-view="Text" data-title="Pi" data-text="unknown"></div>
	<i class="fa fa-user icon-background"></i>
       </li>

	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" class="hoverable card">
	<div class="grey card " data-id="nginxstatus" data-view="Text" data-title="Nginx"  data-text="unknown" ></div>
	<i class ="fa fa-server icon-background"></i>
	</li>

	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" class="hoverable card ">
	<div class="grey card " data-id="srstatus" data-view="Text" data-title="Sickrage" data-text="unknown" ></div>
	<i class="fa fa-television icon-background"></i>
	</li>

	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" class="hoverable card">
	<div class="grey card " data-id="txrstatus" data-view="Text" data-title="Transmission" data-text="unknown" ></div>
	<i class="fa fa-arrow-circle-down icon-background"></i>
	</li>

	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" class="hoverable card">
	<div class="grey card " data-id="sambastatus" data-view="Text" data-title="Samba" data-text="unknown"></div>
	<i class="fa fa-folder-open icon-background"></i>
	</li>

	<li data-row="2" data-col="1" data-sizex="3" data-sizey="1" class="hoverable card">
	 <div class="orange card " data-id="temperature" data-view="Meter" data-title="Temperature" data-min="0" data-max="100" data-moreinfo="celsius"></div>	
	</li>

	<li data-row="2" data-col="4" data-sizex="4" data-sizey="1" class="hoverable card">
	<div  class="card " data-id="serverload" data-view="Graph" data-title="Load (1 min)" style="background-color: #ff9618;"></div>
	</li>



	<li data-row="2" data-col="8" data-sizex="3" data-sizey="1" class="hoverable card">
	 <div  class="orange card " data-id="memory" data-view="Meter" data-title="Memory" data-min="0"  data-max="862" data-moreinfo="MB used out of 862MB"></div>	
	</li>




    <li data-row="3" data-col="2" data-sizex="2" data-sizey="1" class="row-margin-top hoverable card">
      <div class="card light-blue darken-1" data-id="tvshows" data-view="Number" data-title="TV Shows"></div>
	<i class="fa fa-hashtag icon-background big"></i>
    </li>


    <li data-row="3" data-col="4" data-sizex="2" data-sizey="1" class="row-margin-top hoverable card">
      <div class="card light-blue darken-1" data-id="movies" data-view="Number" data-title="Movies"></div>
	<i class="fa fa-video-camera icon-background big"></i>
    </li>


    <li data-row="3" data-col="6" data-sizex="2" data-sizey="1" class="row-margin-top hoverable card">
      <div class="card light-blue darken-1" data-id="downloading" data-view="Number" data-title="Downloading"></div>
	<i class="fa fa-arrow-down icon-background big"></i>
    </li>

    <li data-row="3" data-col="8" data-sizex="2" data-sizey="1" class="row-margin-top hoverable card">
      <div class="card light-blue darken-1" data-id="completed" data-view="Number" data-title="Completed"></div>
	<i class="fa fa-check icon-background big"></i>
    </li>

  </ul>
</div>
