<% content_for :title do %>ServerLoad<% end %>

<div class="gridster">
  <ul>

	<li data-row="1" data-col="3" data-sizex="6" data-sizey="1" class="hoverable card" >
	<div  class="card " data-id="serverload_oneMin" data-view="Graph" data-title="Load (1 min)" style="background-color: #ff9618;"></div>
	</li>

	<li data-row="2" data-col="3" data-sizex="6" data-sizey="1" class="hoverable card" style="margin-top: 20px;">
	<div  class="card orange" data-id="serverload_fiveMin" data-view="Graph" data-title="Load (5 min)" ></div>
	</li>

	<li data-row="3" data-col="3" data-sizex="6" data-sizey="1" class="hoverable card" style="margin-top: 40px;">
	<div  class="card orange" data-id="serverload_fifteenMin" data-view="Graph" data-title="Load (15 min)" ></div>
	</li>


    </ul>
 </div>
